[Unit]
Description=Backup
After=network.target

[Service]
Type=simple
StandardOutput=null
ExecStart=/home/ben/.local/bin/archive "~/.config/archive.conf"
[Install]
WantedBy=default.target
