[Unit]
Description=linux discord rich presence

[Service]
Type=simple
StandardOutput=null
ExecStart=linux-discord-rich-presence --config /home/ben/.config/linux-discord-rich-presencerc

[Install]
WantedBy=default.target
