:root {
	--address-bar-height: 40px;
	--browser-offset: calc(-1 * (var(--address-bar-height) + 1px));
}
#navigator-toolbox-background {
	position: absolute !important;;
}
#navigator-toolbox-background ~ #browser {
	margin-top: var(--browser-offset) !important;
}
#navigator-toolbox-background:hover, #navigator-toolbox-background:focus-within {
	z-index: 9001 !important;
}
